.lab-status-card-list {
    padding-right: 20px;
    padding-top: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.course-performance-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-right: 15px;
}

.course-students-button {
    background-color: black;
    color: white;
    margin-right: 20px;
}

.slots-list {
    background-color: black;
    color: white;
}

.teacher-controls-button {
    display: flex;
    gap: 15px;
    align-items: center;
    padding-right: 15px;

}

.course-title {
    margin-right: auto;
    padding-left: 20px;
}

.pluc-icon {
    width: 32px;
    height: 32px;
    stroke: white;
}

.add-lab-button,
.admin-button {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: black;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    font-size: 0;
    line-height: 0;
}

.queuemode-field {
    display: flex;
    flex-direction: row;
    gap: 8px;
    color: #757575
}

.queuemode {
    color: #3772E7
}